body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
}

header, footer {
  background-color: #4CAF50;
  padding: 20px;
}

button {
  background-color: #ff5733;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #ff2e00;
}
